<h1>Log Your Workout</h1>

<form action="/workouts" method="POST">

  <label>Date</label>
  <input type="date" name="day" id='day'>

  <label>Effort Level (1-10)</label>
  <input type="integer" name="effort_level" id='effort_level'>

  <label>Distance (# Miles)</label>
  <input type="text" name="distance" id='distance'>

  <label>Duration (HH:MM:SS)</label>
  <input type="text" name="time" id='time'>
  <br></br>

  <input type="submit" value="submit">
  
</form>