<h1>Welcome, please register your new account!</h1>
<form action='/signup' method='POST'>
  
  <label for='username'>Username:</label>
  <input type="text" name="username" id="username">

  <label for='password'>Password:</label>
  <input type="password" name="password" id="password">

  <input type="submit" id="submit" value="submit" name="Sign Up">
</form>