<!DOCTYPE html>
<html>
  <head>
    <title>Runner's Log</title>
  </head>

  <body>  
    <div class="container">
      <% if !@error_message.nil? %>
      <div class="alert alert-warning">
        <%= @error_message %>
      </div>
    <% end %>
      <%= yield %> 
    </div>
    <br></br>
    <nav>
      <% if logged_in? %>
        <a href="/logout"> Log Out </a>
      <% end %>
      </nav>

  </body>
</html>